<navigation>
    <div class="logo">
        <a href="/dashboard" >Whatsup</a>
    </div>
    <div class="user-menu">
        <% if user_signed_in? %>
            <div class="element">
                <p><%= current_user.email %></p>
            </div>
            <div class="element">
                <%= button_to "logout", destroy_user_session_path, method: :delete  %>
            </div>
        <% end %>
    </div>
</navigation>