/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Navigation */ 

navigation {
    display: block;
    width: 100%;
    height: 60px;
    margin-bottom: 45px;
    border-bottom: 2px solid grey;
}

navigation > .logo{
    float: left;
    padding: 10px 0;
}

navigation > .logo > a{
    text-decoration: none;
    font-size: 2rem;
}

navigation > .user-menu{
    float: right;
    padding: 10px 0;
}

navigation > .user-menu > .element{
    float: left;
    margin-right: 10px;
}

#jobs_http_checks > table{
    border: 1px solid black;
}

#jobs_http_checks table th{
    border: 1px solid black;
    font-weight: 800;
    padding: 5px;
}

#jobs_http_checks table td{
    border: 1px solid black;
    font-weight: 400;
    padding: 5px;
}